body {
    margin: 0;
    font-family: Poppins;
    background: #0a0a0a;
    color: white;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #111;
    padding: 15px;
}

.sidebar h2 {
    font-size: 18px;
}

.sidebar li {
    list-style: none;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.sidebar li:hover,
.sidebar .active {
    background: #ff3c3c;
}

/* MAIN */
.main {
    margin-left: 210px;
    padding: 20px;
}

/* SECTION */
.section {
    display: none;
}

.section.active {
    display: block;
}

/* GRID FIX */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

/* CARD SAME SIZE */
.card {
    background: #151515;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.card:hover {
    background: #222;
}

/* PRODUCT */
.product {
    background: #151515;
    padding: 25px;
    border-radius: 10px;
    max-width: 300px;
}

/* BUTTON SMALL */
button {
    padding: 8px 15px;
    border: none;
    background: #ff3c3c;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background: #ff0000;
}

/* HOME */
.home-btns {
    margin: 20px 0;
    display: flex;
    gap: 10px;
}

.desc {
    opacity: 0.7;
}

.email {
    color: red;
}
